In [19]:
import seaborn as sns

In [22]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [28]:
tips = sns.load_dataset('tips')

In [ ]:
# Filter rows smoker == no and total bill >= 10

In [45]:
tt = tips.loc[(tips['smoker'] == "No") & (tips['total_bill'] >= 10)]

In [32]:
# What is the average total_bill for each value of smoker, day, and time

In [67]:
tt = tips.groupby(['smoker', 'day', 'time'])[["total_bill"]].mean().reset_index()

In [68]:
tt

   smoker   day    time  total_bill
0     Yes  Thur   Lunch   19.190588
1     Yes  Thur  Dinner         NaN
2     Yes   Fri   Lunch   12.323333
3     Yes   Fri  Dinner   19.806667
4     Yes   Sat   Lunch         NaN
5     Yes   Sat  Dinner   21.276667
6     Yes   Sun   Lunch         NaN
7     Yes   Sun  Dinner   24.120000
8      No  Thur   Lunch   17.075227
9      No  Thur  Dinner   18.780000
10     No   Fri   Lunch   15.980000
11     No   Fri  Dinner   19.233333
12     No   Sat   Lunch         NaN
13     No   Sat  Dinner   19.661778
14     No   Sun   Lunch         NaN
15     No   Sun  Dinner   20.506667